body {
    background-color: #eaeff3;
}

.main {
    width: 600px;
    margin: 0 auto;
}

.nav {
    margin-top: 30px;
}

.nav-title {
    float: left;
    width: 570px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    color: #4fc08d;
    cursor: pointer;
}

.nav-title:hover {
    text-decoration: underline;
}

.nav-title a {
    font-size: 26px;
    font-weight: 700;
    color: #4fc08d;
    cursor: pointer;
    text-decoration: none;
}

.nav-title a:hover {
    text-decoration: underline;
}

.nav-login {
    position: relative;
    float: right;
}

.nav-login img {
    cursor: pointer;
}

.content {
    clear: both;
    padding-top: 70px;
}

.contentWrap {
    width: 600px;
    border: 1px solid rgba(202,208,205,0.83);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(34,36,38,.1);
}

